*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#000 ;
    color: white;

}


/*Header*/

header{
    background: #000;
    display: flex;
    justify-content: end;
    padding: 8px;
    margin-bottom: 10px;
}

header .fas{
    margin-right: 10px;
}

.btn{
    background-color: rgba(123, 114, 114, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    padding: 10px;

}

/*Main*/

.container-flex{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    height: 78vh;
}


.video-box{
    margin-right: 8px;

}


/*Footer*/

footer{
    height:15vh;
    
}

.foot-nav-icon{
    display: flex;
    justify-content: space-between;
    
}
.foot-nav{
    display: flex;
    justify-content: space-between;
    
}

.col .fas,
.col .far{
    font-size: 44px;
    margin: 0 10px ;
}

.col span{
    margin: 0 10px;
}

