*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#000 ;
}


/*Header*/

header{
    background: #000;
    color: white;
    display: flex;
    justify-content: end;
    padding: 10px;
}

header .fas{
    margin-right: 10px;
}

.btn{
    background-color: rgba(123, 114, 114, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    padding: 10px;

}

/*Main*/

.container-flex{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.video-box{
    margin-right: 8px;
}


/*Footer*/

