*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#000 ;
    color: white;

}

.green{
    color: green;
}


/*Header*/

header{
    background: #000;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 8px;
    margin-bottom: 10px;
}

header .fas{
    margin-right: 10px;
}

.btn{
    background-color: rgba(123, 114, 114, 0.8);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;

}

.btn:hover{
    background-color: rgba(123, 114, 114, 0.8);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

}

/*Main*/

.container-flex{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    height: 78vh;
}


.video-box{
    margin-right: 8px;
    position: relative;

}

.name-user{
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 1;
    padding: 5px;
    background-color: rgba(123, 114, 114, 0.8);
    border-radius: 4px;
  
}


/*Footer*/



.foot-nav-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.col .fas,
.col .far{
    font-size: 44px;
    margin: 0 10px ;
}

.col{
    padding: 10px;
}



.col:nth-child(3){
    text-align: center;
    background-color: grey;
    color: red;
}

h3{
    line-height: 4.9;
}